[submodule "misc-git/powerline"]
	path = misc-git/powerline
	url = https://github.com/powerline/powerline.git
[submodule "fresh/source/freshshell/fresh"]
	path = fresh/source/freshshell/fresh
	url = https://github.com/freshshell/fresh
[submodule "fresh/source/therealpxc/fresh"]
	path = fresh/source/therealpxc/fresh
	url = https://github.com/therealpxc/fresh
[submodule "local/share/omf"]
	path = local/share/omf
	url = git@gitlab.com:therealpxc/oh-my-fish.git
[submodule "password-store"]
	path = password-store
	url = git@gitlab.com:therealpxc/password-store.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "bash_it"]
	path = bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "config/nixpkgs"]
	path = config/nixpkgs
	url = git@github.com:therealpxc/pxc.nix.d.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zplug"]
	path = zplug
	url = git@github.com:zplug/zplug.git
